
#root {
  height: 100vh;
} 

* {
  box-sizing: border-box;
}

body {
  background-color: #2b2e4a;
}

form{
  margin-top: 200px;
}

p{
  color: #903749;
}

a{
  color: #e84545;
}
.is-back{
  margin-right: 30px;
}
